{
    "openapi": "3.0.1",
    "info": {
        "title": "Insights API",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://data.elexon.co.uk/bmrs/api/v1"
        }
    ],
    "paths": {
        "/generation/availability/summary/14D": {
            "get": {
                "tags": [
                    "Availability"
                ],
                "summary": "Fourteen-day generation forecast",
                "description": "This endpoint has been moved to forecast/availability/summary/14D.",
                "operationId": "get-generation-availability-summary-14d",
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/generation/availability/summary/3YW": {
            "get": {
                "tags": [
                    "Availability"
                ],
                "summary": "Three-year generation forecast",
                "description": "This endpoint has been moved to forecast/availability/summary/3YW.",
                "operationId": "get-generation-availability-summary-3yw",
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/forecast/availability/daily": {
            "get": {
                "tags": [
                    "Generation Forecast"
                ],
                "summary": "Fourteen-day generation capacity forecast (FOU2T14D)",
                "description": "This endpoint provides the latest fourteen-day generation forecast",
                "operationId": "get-forecast-availability-daily",
                "parameters": [
                    {
                        "name": "level",
                        "in": "query",
                        "schema": {
                            "enum": [
                                "total",
                                "fuelType",
                                "bmUnit"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "bmUnit",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "fuelType",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "publishTime": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "outputUsable": 0,
                                            "forecastDate": "string"
                                        }
                                    ],
                                    "metadata": {
                                        "datasets": [
                                            "DATASET"
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "publishTime": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "outputUsable": 0,
                                            "forecastDate": "string"
                                        }
                                    ],
                                    "metadata": {
                                        "datasets": [
                                            "DATASET"
                                        ]
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forecast/availability/weekly": {
            "get": {
                "tags": [
                    "Generation Forecast"
                ],
                "summary": "Three-year generation capacity forecast (FOU2T3YW)",
                "description": "This endpoint provides the latest three-year generation forecast",
                "operationId": "get-forecast-availability-weekly",
                "parameters": [
                    {
                        "name": "level",
                        "in": "query",
                        "schema": {
                            "enum": [
                                "total",
                                "fuelType",
                                "bmUnit"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "bmUnit",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "fuelType",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "publishTime": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "outputUsable": 0,
                                            "year": 0,
                                            "calendarWeekNumber": 0
                                        }
                                    ],
                                    "metadata": {
                                        "datasets": [
                                            "DATASET"
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "publishTime": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "outputUsable": 0,
                                            "year": 0,
                                            "calendarWeekNumber": 0
                                        }
                                    ],
                                    "metadata": {
                                        "datasets": [
                                            "DATASET"
                                        ]
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forecast/availability/daily/history": {
            "get": {
                "tags": [
                    "Generation Forecast"
                ],
                "summary": "History of the fourteen-day generation capacity forecast (FOU2T14D)",
                "description": "This endpoint provides the latest fourteen-day generation forecast from a given DateTime",
                "operationId": "get-forecast-availability-daily-history-publishtime-publishtime",
                "parameters": [
                    {
                        "name": "publishTime",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "level",
                        "in": "query",
                        "schema": {
                            "enum": [
                                "total",
                                "fuelType",
                                "bmUnit"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "bmUnit",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "fuelType",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "publishTime": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "outputUsable": 0,
                                            "forecastDate": "string"
                                        }
                                    ],
                                    "metadata": {
                                        "datasets": [
                                            "DATASET"
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "publishTime": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "outputUsable": 0,
                                            "forecastDate": "string"
                                        }
                                    ],
                                    "metadata": {
                                        "datasets": [
                                            "DATASET"
                                        ]
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forecast/availability/weekly/history": {
            "get": {
                "tags": [
                    "Generation Forecast"
                ],
                "summary": "History of the three-year generation capacity forecast (FOU2T3YW)",
                "description": "This endpoint provides the latest three-year forecast from a given DateTime",
                "operationId": "get-forecast-availability-weekly-history-publishtime-publishtime",
                "parameters": [
                    {
                        "name": "publishTime",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "level",
                        "in": "query",
                        "schema": {
                            "enum": [
                                "total",
                                "fuelType",
                                "bmUnit"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "bmUnit",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "fuelType",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "publishTime": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "outputUsable": 0,
                                            "year": 0,
                                            "calendarWeekNumber": 0
                                        }
                                    ],
                                    "metadata": {
                                        "datasets": [
                                            "DATASET"
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "publishTime": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "outputUsable": 0,
                                            "year": 0,
                                            "calendarWeekNumber": 0
                                        }
                                    ],
                                    "metadata": {
                                        "datasets": [
                                            "DATASET"
                                        ]
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forecast/availability/daily/evolution": {
            "get": {
                "tags": [
                    "Generation Forecast"
                ],
                "summary": "Evolution of the fourteen-day generation capacity forecast over time (FOU2T14D)",
                "description": "This endpoint provides the evolution of all daily generation forecasts over time for a given Forecast Date.\r\n            \r\nDate parameter must be provided in the exact format yyyy-MM-dd.",
                "operationId": "get-forecast-availability-daily-evolution-forecastdate-forecastdate",
                "parameters": [
                    {
                        "name": "forecastDate",
                        "in": "query",
                        "description": "Format - date (as full-date in RFC3339). The forecast date for the filter. This must be in the format yyyy-MM-dd.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2022-09-20"
                        },
                        "example": "2022-09-20"
                    },
                    {
                        "name": "level",
                        "in": "query",
                        "schema": {
                            "enum": [
                                "total",
                                "fuelType",
                                "bmUnit"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "bmUnit",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "fuelType",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "publishTime": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "outputUsable": 0,
                                            "forecastDate": "string"
                                        }
                                    ],
                                    "metadata": {
                                        "datasets": [
                                            "DATASET"
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "publishTime": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "outputUsable": 0,
                                            "forecastDate": "string"
                                        }
                                    ],
                                    "metadata": {
                                        "datasets": [
                                            "DATASET"
                                        ]
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityDaily"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forecast/availability/weekly/evolution": {
            "get": {
                "tags": [
                    "Generation Forecast"
                ],
                "summary": "Evolution of the three-year generation capacity forecast over time (FOU2T3YW)",
                "description": "This endpoint provides all weekly generation forecasts over time for a given Year and Week",
                "operationId": "get-forecast-availability-weekly-evolution-year-year-week-week",
                "parameters": [
                    {
                        "name": "year",
                        "in": "query",
                        "description": "Format - int32.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "week",
                        "in": "query",
                        "description": "Format - int32.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "level",
                        "in": "query",
                        "schema": {
                            "enum": [
                                "total",
                                "fuelType",
                                "bmUnit"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "bmUnit",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "fuelType",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "publishTime": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "outputUsable": 0,
                                            "year": 0,
                                            "calendarWeekNumber": 0
                                        }
                                    ],
                                    "metadata": {
                                        "datasets": [
                                            "DATASET"
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "publishTime": "string",
                                            "fuelType": "string",
                                            "ngcBmUnit": "string",
                                            "outputUsable": 0,
                                            "year": 0,
                                            "calendarWeekNumber": 0
                                        }
                                    ],
                                    "metadata": {
                                        "datasets": [
                                            "DATASET"
                                        ]
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Generation.AvailabilityWeekly"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/balancing/dynamic": {
            "get": {
                "tags": [
                    "Balancing Mechanism Dynamic"
                ],
                "summary": "Dynamic data per BMU (SEL, SIL, MZT, MNZT, MDV, MDP, NTB, NTO, NDZ)",
                "description": "This endpoint provides the dynamic data for a requested BMU, excluding physical rate data.\r\nIt returns a \"snapshot\" of data valid at a given time, and optionally a time series of changes over a requested interval.\r\n            \r\nBy default, all of the relevant datasets are returned: SIL, SEL, NDZ, NTB, NTO, MZT, MNZT, MDV, MDP.\r\nThe results from each dataset are transformed to a common response model, with the common integer field *Value*\r\nmapped from the fields *Level*, *Period*, *Volume* or *Notice* in the original dataset, as relevant.",
                "operationId": "get-balancing-dynamic-bmunit-bmunit-snapshotat-snapshotat",
                "parameters": [
                    {
                        "name": "bmUnit",
                        "in": "query",
                        "description": "The BM Unit to query.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "2__HFLEX001"
                        },
                        "example": "2__HFLEX001"
                    },
                    {
                        "name": "snapshotAt",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). When to retrieve a snapshot of data at.\r\nThat is, the latest datapoint before this time will be returned for each dataset.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2022-08-23T12:00:00.0000000+00:00"
                        },
                        "example": "2022-08-23T12:00:00.0000000+00:00"
                    },
                    {
                        "name": "until",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). When to retrieve data until.\r\nData from the snapshot until this time will be returned.",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2022-08-24T12:00:00.0000000+00:00"
                        },
                        "example": "2022-08-24T12:00:00.0000000+00:00"
                    },
                    {
                        "name": "snapshotAtSettlementPeriod",
                        "in": "query",
                        "description": "Format - int32. The settlement period to retrieve a snapshot of data at.\r\nIf provided, the time part of SnapshotAt will be ignored.",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": 2
                        },
                        "example": 2
                    },
                    {
                        "name": "untilSettlementPeriod",
                        "in": "query",
                        "description": "Format - int32. The settlement period to retrieve data until.\r\nIf provided, the time part of Until will be ignored.",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": 2
                        },
                        "example": 2
                    },
                    {
                        "name": "dataset",
                        "in": "query",
                        "description": "Datasets to filter. If omitted, all datasets will be returned.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "example": [
                                "SEL",
                                "MNZT",
                                "MDP"
                            ]
                        },
                        "example": [
                            "SEL",
                            "MNZT",
                            "MDP"
                        ]
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data retrieved",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "SEL",
                                            "bmUnit": "T_ABRBO-1",
                                            "nationalGridBmUnit": "ABRBO-1",
                                            "time": "2022-07-01T01:34:00.0000000+00:00",
                                            "value": 5,
                                            "settlementDate": "2022-07-01",
                                            "settlementPeriod": 3
                                        }
                                    ],
                                    "metadata": {
                                        "datasets": [
                                            "DATASET"
                                        ]
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "SEL",
                                            "bmUnit": "T_ABRBO-1",
                                            "nationalGridBmUnit": "ABRBO-1",
                                            "time": "2022-07-01T01:34:00.0000000+00:00",
                                            "value": 5,
                                            "settlementDate": "2022-07-01",
                                            "settlementPeriod": 3
                                        }
                                    ],
                                    "metadata": {
                                        "datasets": [
                                            "DATASET"
                                        ]
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error with query parameters - see response for details"
                    },
                    "500": {
                        "description": "Server error - please try again later"
                    }
                }
            }
        },
        "/datasets/FUELHH": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Half-hourly generation outturn by fuel type (FUELHH)",
                "description": "This endpoint provides the half-hourly generation outturn (Generation By Fuel type)\r\nto give our users an indication of the generation outturn for Great Britain.\r\nThe data is aggregated by Fuel Type category and updated at 30-minute intervals with\r\naverage MW values over 30 minutes for each category.\r\n            \r\nThis endpoint includes additional settlement parameters such as Settlement Date and Settlement Period.\r\nThe Settlement Date fields cannot be set when a Publish Date field is set.\r\n            \r\nSettlement date parameters must be provided in the exact format yyyy-MM-dd.",
                "operationId": "get-datasets-fuelhh",
                "parameters": [
                    {
                        "name": "publishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2022-06-25T12:00:00.0000000+00:00"
                        },
                        "example": "2022-06-25T12:00:00.0000000+00:00"
                    },
                    {
                        "name": "publishDateTimeTo",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2022-06-26T12:00:00.0000000+00:00"
                        },
                        "example": "2022-06-26T12:00:00.0000000+00:00"
                    },
                    {
                        "name": "settlementDateFrom",
                        "in": "query",
                        "description": "Format - date (as full-date in RFC3339).",
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2022-09-20"
                        },
                        "example": "2022-09-20"
                    },
                    {
                        "name": "settlementDateTo",
                        "in": "query",
                        "description": "Format - date (as full-date in RFC3339).",
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2022-09-21"
                        },
                        "example": "2022-09-21"
                    },
                    {
                        "name": "settlementPeriod",
                        "in": "query",
                        "description": "List of Settlement Periods",
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int32"
                            },
                            "example": [
                                3,
                                4
                            ]
                        },
                        "example": [
                            3,
                            4
                        ]
                    },
                    {
                        "name": "fuelType",
                        "in": "query",
                        "description": "Fuel Type e.g. NUCLEAR",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "example": [
                                "NUCLEAR"
                            ]
                        },
                        "example": [
                            "NUCLEAR"
                        ]
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data retrieved",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AugmentedOutturnData"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AugmentedOutturnData"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "FUELINST",
                                            "publishTime": "2022-06-25T01:00:00.0000000+00:00",
                                            "startTime": "2022-06-25T01:00:00.0000000+00:00",
                                            "settlementDate": "2022-06-25",
                                            "settlementPeriod": 3,
                                            "fuelType": "BIOMASS",
                                            "generation": 0
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AugmentedOutturnData"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "FUELINST",
                                            "publishTime": "2022-06-25T01:00:00.0000000+00:00",
                                            "startTime": "2022-06-25T01:00:00.0000000+00:00",
                                            "settlementDate": "2022-06-25",
                                            "settlementPeriod": 3,
                                            "fuelType": "BIOMASS",
                                            "generation": 0
                                        }
                                    ]
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AugmentedOutturnData"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error with query parameters - see response for details"
                    },
                    "500": {
                        "description": "Server error - please try again later"
                    }
                }
            }
        },
        "/datasets/FUELINST": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Instantaneous generation outturn by fuel type (FUELINST)",
                "description": "This endpoint provides the instantaneous generation outturn (Generation By Fuel type)\r\nto give our users an indication of the generation outturn for Great Britain.\r\nThe data is aggregated by Fuel Type category and updated at five-minute intervals\r\nwith average MW values over 5 minutes for each category.\r\n            \r\nThis endpoint includes additional settlement parameters such as Settlement Date and Settlement Period.\r\nThe Settlement Date fields cannot be set when a Publish Date field is set.\r\n            \r\nSettlement date parameters must be provided in the exact format yyyy-MM-dd.",
                "operationId": "get-datasets-fuelinst",
                "parameters": [
                    {
                        "name": "publishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2022-06-20T12:00:00.0000000+00:00"
                        },
                        "example": "2022-06-20T12:00:00.0000000+00:00"
                    },
                    {
                        "name": "publishDateTimeTo",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2022-06-26T12:00:00.0000000+00:00"
                        },
                        "example": "2022-06-26T12:00:00.0000000+00:00"
                    },
                    {
                        "name": "settlementDateFrom",
                        "in": "query",
                        "description": "Format - date (as full-date in RFC3339).",
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2022-09-20"
                        },
                        "example": "2022-09-20"
                    },
                    {
                        "name": "settlementDateTo",
                        "in": "query",
                        "description": "Format - date (as full-date in RFC3339).",
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2022-09-21"
                        },
                        "example": "2022-09-21"
                    },
                    {
                        "name": "settlementPeriod",
                        "in": "query",
                        "description": "List of Settlement Periods",
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int32"
                            },
                            "example": [
                                3,
                                4
                            ]
                        },
                        "example": [
                            3,
                            4
                        ]
                    },
                    {
                        "name": "fuelType",
                        "in": "query",
                        "description": "Fuel Type e.g. NUCLEAR",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "example": [
                                "NUCLEAR"
                            ]
                        },
                        "example": [
                            "NUCLEAR"
                        ]
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data retrieved",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AugmentedOutturnData"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AugmentedOutturnData"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "FUELINST",
                                            "publishTime": "2022-06-25T01:00:00.0000000+00:00",
                                            "startTime": "2022-06-25T01:00:00.0000000+00:00",
                                            "settlementDate": "2022-06-25",
                                            "settlementPeriod": 3,
                                            "fuelType": "BIOMASS",
                                            "generation": 0
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AugmentedOutturnData"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "FUELINST",
                                            "publishTime": "2022-06-25T01:00:00.0000000+00:00",
                                            "startTime": "2022-06-25T01:00:00.0000000+00:00",
                                            "settlementDate": "2022-06-25",
                                            "settlementPeriod": 3,
                                            "fuelType": "BIOMASS",
                                            "generation": 0
                                        }
                                    ]
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AugmentedOutturnData"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error with query parameters - see response for details"
                    },
                    "500": {
                        "description": "Server error - please try again later"
                    }
                }
            }
        },
        "/datasets/UOU2T14D": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "2 to 14 days ahead generation availability aggregated by Balancing Mechanism Units (UOU2T14D)",
                "description": "This endpoint provides a forward view of availability (also referred to as Output Usable\r\ndata under the Grid Code) for generation and interconnector capacity, accounting for planned\r\noutages covering availability data from 2 days ahead to 14 days ahead; it is aggregated by\r\nNational Grid Balancing Mechanism Units (NGC BMUs).\r\n            \r\nIn the context of this report, BMUs can be considered as generating units.\r\nElexon BMUs differs from NGC BMUs by including a prefix e.g. 'T_'.\r\nThe mapping between NGC and Elexon BMUs can be retrieved via reference data API endpoints.",
                "operationId": "get-datasets-uou2t14d",
                "parameters": [
                    {
                        "name": "fuelType",
                        "in": "query",
                        "description": "The fuel type to query. Add each fuel type separately. If no fuel types are supplied, all fuel types will be returned.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "example": [
                                "WIND"
                            ]
                        },
                        "example": [
                            "WIND"
                        ]
                    },
                    {
                        "name": "publishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Start of the Publish Time range to query. If specified, PublishDateTimeTo must also be specified.\r\nIf both are omitted, latest published data is returned.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "publishDateTimeTo",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). End of the Publish Time range to query. If specified, PublishDateTimeFrom must also be specified.\r\nIf both are omitted, latest published data is returned.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "bmUnit",
                        "in": "query",
                        "description": "The BM units to query. Add each unit separately. Either the Elexon ID or the National Grid ID can be used.\r\nIf no BM unit is supplied all BM units will be returned.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "example": [
                                "WTMSO-1"
                            ]
                        },
                        "example": [
                            "WTMSO-1"
                        ]
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data retrieved",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AvailabilityByBmUnitDaily"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AvailabilityByBmUnitDaily"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "WIND",
                                            "nationalGridBmUnit": "WTMSO-1",
                                            "bmUnit": "T_WTMSO-1",
                                            "publishTime": "2022-08-15T11:00:00.0000000+00:00",
                                            "forecastDate": "2022-08-17",
                                            "outputUsable": 84
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AvailabilityByBmUnitDaily"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "WIND",
                                            "nationalGridBmUnit": "WTMSO-1",
                                            "bmUnit": "T_WTMSO-1",
                                            "publishTime": "2022-08-15T11:00:00.0000000+00:00",
                                            "forecastDate": "2022-08-17",
                                            "outputUsable": 84
                                        }
                                    ]
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AvailabilityByBmUnitDaily"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error with query parameters - see response for details"
                    },
                    "500": {
                        "description": "Server error - please try again later"
                    }
                }
            }
        },
        "/datasets/UOU2T14D/stream": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "2 to 14 days ahead generation availability aggregated by Balancing Mechanism Units (UOU2T14D) stream",
                "description": "This endpoint provides a forward view of availability (also referred to as Output Usable\r\ndata under the Grid Code) for generation and interconnector capacity, accounting for planned\r\noutages covering availability data from 2 days ahead to 14 days ahead; it is aggregated by\r\nNational Grid Balancing Mechanism Units (NGC BMUs).\r\n            \r\nIn the context of this report, BMUs can be considered as generating units.\r\nElexon BMUs differs from NGC BMUs by including a prefix e.g. 'T_'.\r\nThe mapping between NGC and Elexon BMUs can be retrieved via reference data API endpoints.\r\n\r\nThis endpoint has an optimised JSON payload and is aimed at frequent requests for the data.",
                "operationId": "get-datasets-uou2t14d-stream",
                "parameters": [
                    {
                        "name": "fuelType",
                        "in": "query",
                        "description": "The fuel type to query. Add each fuel type separately. If no fuel types are supplied, all fuel types will be returned.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "example": [
                                "WIND"
                            ]
                        },
                        "example": [
                            "WIND"
                        ]
                    },
                    {
                        "name": "publishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Start of the Publish Time range to query. If specified, PublishDateTimeTo must also be specified.\r\nIf both are omitted, latest published data is returned.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "publishDateTimeTo",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). End of the Publish Time range to query. If specified, PublishDateTimeFrom must also be specified.\r\nIf both are omitted, latest published data is returned.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "bmUnit",
                        "in": "query",
                        "description": "The BM units to query. Add each unit separately. Either the Elexon ID or the National Grid ID can be used.\r\nIf no BM unit is supplied all BM units will be returned.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "example": [
                                "WTMSO-1"
                            ]
                        },
                        "example": [
                            "WTMSO-1"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data retrieved",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Insights.Api.Models.Responses.Generation.DatasetRows.AvailabilityByBmUnitDaily"
                                    }
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Insights.Api.Models.Responses.Generation.DatasetRows.AvailabilityByBmUnitDaily"
                                    }
                                },
                                "example": [
                                    {
                                        "dataset": "string",
                                        "fuelType": "WIND",
                                        "nationalGridBmUnit": "WTMSO-1",
                                        "bmUnit": "T_WTMSO-1",
                                        "publishTime": "2022-08-15T11:00:00.0000000+00:00",
                                        "forecastDate": "2022-08-17",
                                        "outputUsable": 84
                                    }
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Insights.Api.Models.Responses.Generation.DatasetRows.AvailabilityByBmUnitDaily"
                                    }
                                },
                                "example": [
                                    {
                                        "dataset": "string",
                                        "fuelType": "WIND",
                                        "nationalGridBmUnit": "WTMSO-1",
                                        "bmUnit": "T_WTMSO-1",
                                        "publishTime": "2022-08-15T11:00:00.0000000+00:00",
                                        "forecastDate": "2022-08-17",
                                        "outputUsable": 84
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Error with query parameters - see response for details"
                    },
                    "500": {
                        "description": "Server error - please try again later"
                    }
                }
            }
        },
        "/datasets/UOU2T3YW": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "2 to 156 weeks ahead generation availability aggregated by Balancing Mechanism Units (UOU2T3YW)",
                "description": "This endpoint forward view of availability (also referred to as Output Usable\r\ndata under the Grid Code) for generation and interconnector capacity, accounting for planned\r\noutages covering availability data from 2 weeks ahead to 156 weeks ahead; it is aggregated by\r\nBalancing Mechanism Units (BMUs).\r\n            \r\nIn the context of this report, BMUs can be considered as generating units.\r\nElexon BMUs differs from NGC BMUs by including a prefix e.g. 'T_'.\r\nThe mapping between NGC and Elexon BMUs can be retrieved via reference data API endpoints.",
                "operationId": "get-datasets-uou2t3yw",
                "parameters": [
                    {
                        "name": "fuelType",
                        "in": "query",
                        "description": "The fuel type to query. Add each fuel type separately. If no fuel types are supplied, all fuel types will be returned.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "example": [
                                "CCGT"
                            ]
                        },
                        "example": [
                            "CCGT"
                        ]
                    },
                    {
                        "name": "publishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Start of the Publish Time range to query. If specified, PublishDateTimeTo must also be specified.\r\nIf both are omitted, latest published data is returned.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "publishDateTimeTo",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). End of the Publish Time range to query. If specified, PublishDateTimeFrom must also be specified.\r\nIf both are omitted, latest published data is returned.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "bmUnit",
                        "in": "query",
                        "description": "The BM units to query. Add each unit separately. Either the Elexon ID or the National Grid ID can be used.\r\nIf no BM unit is supplied all BM units will be returned.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "example": [
                                "T_CARR-1"
                            ]
                        },
                        "example": [
                            "T_CARR-1"
                        ]
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Response data format. Use json/xml to include metadata.",
                        "schema": {
                            "enum": [
                                "json",
                                "xml",
                                "csv"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data retrieved",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AvailabilityByBmUnitWeekly"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AvailabilityByBmUnitWeekly"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "CCGT",
                                            "nationalGridBmUnit": "CARR-1",
                                            "bmUnit": "T_CARR-1",
                                            "publishTime": "2022-08-10T03:00:00.0000000+00:00",
                                            "week": 34,
                                            "year": 2022,
                                            "outputUsable": 442
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AvailabilityByBmUnitWeekly"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "dataset": "string",
                                            "fuelType": "CCGT",
                                            "nationalGridBmUnit": "CARR-1",
                                            "bmUnit": "T_CARR-1",
                                            "publishTime": "2022-08-10T03:00:00.0000000+00:00",
                                            "week": 34,
                                            "year": 2022,
                                            "outputUsable": 442
                                        }
                                    ]
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.AvailabilityByBmUnitWeekly"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error with query parameters - see response for details"
                    },
                    "500": {
                        "description": "Server error - please try again later"
                    }
                }
            }
        },
        "/datasets/UOU2T3YW/stream": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "2 to 156 weeks ahead generation availability aggregated by Balancing Mechanism Units (UOU2T3YW) stream",
                "description": "This endpoint forward view of availability (also referred to as Output Usable\r\ndata under the Grid Code) for generation and interconnector capacity, accounting for planned\r\noutages covering availability data from 2 weeks ahead to 156 weeks ahead; it is aggregated by\r\nBalancing Mechanism Units (BMUs).\r\n            \r\nIn the context of this report, BMUs can be considered as generating units.\r\nElexon BMUs differs from NGC BMUs by including a prefix e.g. 'T_'.\r\nThe mapping between NGC and Elexon BMUs can be retrieved via reference data API endpoints.\r\n\r\nThis endpoint has an optimised JSON payload and is aimed at frequent requests for the data.",
                "operationId": "get-datasets-uou2t3yw-stream",
                "parameters": [
                    {
                        "name": "fuelType",
                        "in": "query",
                        "description": "The fuel type to query. Add each fuel type separately. If no fuel types are supplied, all fuel types will be returned.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "example": [
                                "CCGT"
                            ]
                        },
                        "example": [
                            "CCGT"
                        ]
                    },
                    {
                        "name": "publishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Start of the Publish Time range to query. If specified, PublishDateTimeTo must also be specified.\r\nIf both are omitted, latest published data is returned.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "publishDateTimeTo",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). End of the Publish Time range to query. If specified, PublishDateTimeFrom must also be specified.\r\nIf both are omitted, latest published data is returned.",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "bmUnit",
                        "in": "query",
                        "description": "The BM units to query. Add each unit separately. Either the Elexon ID or the National Grid ID can be used.\r\nIf no BM unit is supplied all BM units will be returned.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "example": [
                                "T_CARR-1"
                            ]
                        },
                        "example": [
                            "T_CARR-1"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data retrieved",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Insights.Api.Models.Responses.Generation.DatasetRows.AvailabilityByBmUnitWeekly"
                                    }
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Insights.Api.Models.Responses.Generation.DatasetRows.AvailabilityByBmUnitWeekly"
                                    }
                                },
                                "example": [
                                    {
                                        "dataset": "string",
                                        "fuelType": "CCGT",
                                        "nationalGridBmUnit": "CARR-1",
                                        "bmUnit": "T_CARR-1",
                                        "publishTime": "2022-08-10T03:00:00.0000000+00:00",
                                        "week": 34,
                                        "year": 2022,
                                        "outputUsable": 442
                                    }
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Insights.Api.Models.Responses.Generation.DatasetRows.AvailabilityByBmUnitWeekly"
                                    }
                                },
                                "example": [
                                    {
                                        "dataset": "string",
                                        "fuelType": "CCGT",
                                        "nationalGridBmUnit": "CARR-1",
                                        "bmUnit": "T_CARR-1",
                                        "publishTime": "2022-08-10T03:00:00.0000000+00:00",
                                        "week": 34,
                                        "year": 2022,
                                        "outputUsable": 442
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Error with query parameters - see response for details"
                    },
                    "500": {
                        "description": "Server error - please try again later"
                    }
                }
            }
        },
        "/datasets/FOU2T14D": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "2 to 14 days ahead generation availability aggregated by fuel type (FOU2T14D)",
                "description": "This endpoint provides a forward view of availability (also referred to as Output Usable data\r\nunder the Grid Code) for generation and interconnector capacity, accounting for planned outages\r\ncovering 2 days ahead to 14 days ahead; it is aggregated by Fuel Types categories.\r\n            \r\nDate parameter must be provided in the exact format yyyy-MM-dd.",
                "operationId": "get-datasets-fou2t14d",
                "parameters": [
                    {
                        "name": "fuelType",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "publishDate",
                        "in": "query",
                        "description": "Format - date (as full-date in RFC3339). The publish date for filtering. This must be in the format yyyy-MM-dd.",
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2022-09-20"
                        },
                        "example": "2022-09-20"
                    },
                    {
                        "name": "publishDateTimeFrom",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339).",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "publishDateTimeTo",
                        "in": "query",
[...]
