{
  "openapi": "3.0.1",
  "info": {
    "title": "Insights.Api",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://data.elexon.co.uk/bmrs/api/v1"
    }
  ],
  "paths": {
    "/generation/availability/summary/14D": {
      "get": {
        "tags": [
          "Availability"
        ],
        "summary": "Fourteen-day generation forecast",
        "description": "This endpoint has been moved to forecast/availability/summary/14D.",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true
      }
    },
    "/generation/availability/summary/3YW": {
      "get": {
        "tags": [
          "Availability"
        ],
        "summary": "Three-year generation forecast",
        "description": "This endpoint has been moved to forecast/availability/summary/3YW.",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true
      }
    },
    "/balancing/dynamic": {
      "get": {
        "tags": [
          "Balancing Mechanism Dynamic"
        ],
        "summary": "Dynamic data per BMU (SEL, SIL, MZT, MNZT, MDV, MDP, NTB, NTO, NDZ)",
        "description": "This endpoint provides the dynamic data for a requested BMU, excluding physical rate data.\r\nIt returns a \"snapshot\" of data valid at a given time, and optionally a time series of changes over a requested interval.\r\n            \r\nBy default, all of the relevant datasets are returned: SIL, SEL, NDZ, NTB, NTO, MZT, MNZT, MDV, MDP.\r\nThe results from each dataset are transformed to a common response model, with the common integer field *Value*\r\nmapped from the fields *Level*, *Period*, *Volume* or *Notice* in the original dataset, as relevant.",
        "parameters": [
          {
            "name": "bmUnit",
            "in": "query",
            "description": "The BM Unit to query.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2__HFLEX001"
            },
            "example": "2__HFLEX001"
          },
          {
            "name": "snapshotAt",
            "in": "query",
            "description": "When to retrieve a snapshot of data at.\r\nThat is, the latest datapoint before this time will be returned for each dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-08-23T00:00Z"
            },
            "example": "2022-08-23T00:00Z"
          },
          {
            "name": "until",
            "in": "query",
            "description": "When to retrieve data until.\r\nData from the snapshot until this time will be returned.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-08-24T00:00Z"
            },
            "example": "2022-08-24T00:00Z"
          },
          {
            "name": "snapshotAtSettlementPeriod",
            "in": "query",
            "description": "The settlement period to retrieve a snapshot of data at.\r\nIf provided, the time part of SnapshotAt will be ignored.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 2
            },
            "example": 2
          },
          {
            "name": "untilSettlementPeriod",
            "in": "query",
            "description": "The settlement period to retrieve data until.\r\nIf provided, the time part of Until will be ignored.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 2
            },
            "example": 2
          },
          {
            "name": "dataset",
            "in": "query",
            "description": "Datasets to filter. If omitted, all datasets will be returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "SEL",
                "MNZT",
                "MDP"
              ]
            },
            "example": [
              "SEL",
              "MNZT",
              "MDP"
            ]
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/balancing/dynamic/all": {
      "get": {
        "tags": [
          "Balancing Mechanism Dynamic"
        ],
        "summary": "Market-wide dynamic data (SEL, SIL, MZT, MNZT, MDV, MDP, NTB, NTO, NDZ)",
        "description": "This endpoint provides the dynamic data for multiple requested BMUs or all BMUs, excluding dynamic rate data.\r\nIt returns the data valid for a single settlement period. This includes a snapshot of data valid at the start\r\nof the settlement period, and any changes published during that settlement period.\r\n            \r\nBy default, all of the relevant datasets are returned: SIL, SEL, NDZ, NTB, NTO, MZT, MNZT, MDV & MDP.\r\nThe results from each dataset are transformed to a common response model, with the common integer field *Value*\r\nmapped from the fields *Level*, *Period*, *Volume* or *Notice* in the original dataset, as relevant.\r\n            \r\nThe settlement period must be specified as a date and settlement period. The date parameter must be provided in the exact format yyyy-MM-dd.",
        "parameters": [
          {
            "name": "settlementDate",
            "in": "query",
            "description": "The settlement date or datetime to filter.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-01-18"
            },
            "example": "2023-01-18"
          },
          {
            "name": "settlementPeriod",
            "in": "query",
            "description": "The settlement period to filter. This should be an integer from 1-50 inclusive.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 3
            },
            "example": 3
          },
          {
            "name": "bmUnit",
            "in": "query",
            "description": "The BM Units to query. Elexon or NGC BMU IDs can be used. If omitted, results for all BM units will be returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "2__HFLEX001",
                "HUMR-1"
              ]
            },
            "example": [
              "2__HFLEX001",
              "HUMR-1"
            ]
          },
          {
            "name": "dataset",
            "in": "query",
            "description": "Datasets to filter. If omitted, all datasets will be returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "SEL",
                "MNZT",
                "MDP"
              ]
            },
            "example": [
              "SEL",
              "MNZT",
              "MDP"
            ]
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.DynamicData"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/balancing/dynamic/rates": {
      "get": {
        "tags": [
          "Balancing Mechanism Dynamic"
        ],
        "summary": "Rate data per BMU (RDRE, RURE, RDRI, RURI)",
        "description": "This endpoint provides the physical rate data for a requested BMU.\r\nIt returns a \"snapshot\" of data valid at a given time, and optionally a time series of changes over a requested interval.\r\n            \r\nBy default, all of the relevant datasets are returned: RDRE, RURE, RDRI, RURI.",
        "parameters": [
          {
            "name": "bmUnit",
            "in": "query",
            "description": "The BM Unit to query.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "DRAXX-1"
            },
            "example": "DRAXX-1"
          },
          {
            "name": "snapshotAt",
            "in": "query",
            "description": "When to retrieve a snapshot of data at.\r\nThat is, the latest datapoint before this time will be returned for each dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-09-01T00:00Z"
            },
            "example": "2022-09-01T00:00Z"
          },
          {
            "name": "until",
            "in": "query",
            "description": "When to retrieve data until.\r\nData from the snapshot until this time will be returned.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-09-30T00:00Z"
            },
            "example": "2022-09-30T00:00Z"
          },
          {
            "name": "snapshotAtSettlementPeriod",
            "in": "query",
            "description": "The settlement period to retrieve a snapshot of data at.\r\nIf provided, the time part of SnapshotAt will be ignored.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 2
            },
            "example": 2
          },
          {
            "name": "untilSettlementPeriod",
            "in": "query",
            "description": "The settlement period to retrieve data until.\r\nIf provided, the time part of Until will be ignored.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 2
            },
            "example": 2
          },
          {
            "name": "dataset",
            "in": "query",
            "description": "Datasets to filter. If empty, all datasets will be returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "RURE",
                "RDRE",
                "RDRI"
              ]
            },
            "example": [
              "RURE",
              "RDRE",
              "RDRI"
            ]
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/balancing/dynamic/rates/all": {
      "get": {
        "tags": [
          "Balancing Mechanism Dynamic"
        ],
        "summary": "Market-wide rate data (RDRE, RURE, RDRI, RURI)",
        "description": "This endpoint provides market-wide physical rate data, for all BMUs or a requested set of multiple BMUs.\r\nIt returns the data valid for a given settlement period. This includes a snapshot of data valid at the start\r\nof the settlement period, and any changes published during that settlement period.\r\n            \r\nThe settlement period to query can be specified as a date and settlement period. The settlement date must be provided in the format yyyy-MM-dd.\r\n\r\nBy default, all of the relevant datasets are returned: RDRE, RURE, RDRI, RURI.",
        "parameters": [
          {
            "name": "settlementDate",
            "in": "query",
            "description": "The settlement date to filter.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-09-01T00:00Z"
            },
            "example": "2022-09-01T00:00Z"
          },
          {
            "name": "settlementPeriod",
            "in": "query",
            "description": "The settlement period to filter. This should be an integer from 1-50 inclusive.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 2
            },
            "example": 2
          },
          {
            "name": "bmUnit",
            "in": "query",
            "description": "The BM Units to query. Elexon or NGC BMU IDs can be used. If omitted, results for all BM units will be returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "2__HFLEX001",
                "HUMR-1"
              ]
            },
            "example": [
              "2__HFLEX001",
              "HUMR-1"
            ]
          },
          {
            "name": "dataset",
            "in": "query",
            "description": "Datasets to return. If omitted, all datasets will be returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "RURE",
                "RDRE",
                "RDRI"
              ]
            },
            "example": [
              "RURE",
              "RDRE",
              "RDRI"
            ]
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Dynamic.RateData"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/balancing/physical": {
      "get": {
        "tags": [
          "Balancing Mechanism Physical"
        ],
        "summary": "Physical data per BMU (PN, QPN, MILS, MELS)",
        "description": "This endpoint provides the physical data for a requested BMU.\r\nIt returns the data valid over a given time range.\r\n            \r\nBy default, all of the relevant datasets are returned: PN, QPN, MILS, & MELS.\r\nThe results from each dataset are transformed to a common response model, with fields not present in all 4 datasets dropped.\r\n            \r\nBy default, the from and to parameters filter the data by start time inclusively. If the settlementPeriodFrom or\r\nsettlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement\r\ndate, allowing for searching by a combination of start time and/or settlement date & settlement period.\r\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For\r\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\r\n            \r\nAll Dates and DateTimes should be expressed as defined within\r\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\r\n            \r\nSome examples of date parameter combinations are shown below.\r\n            \r\nFiltering from start time to start time:\r\n            \r\n    /balancing/physical?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\r\n            \r\nFiltering from start time to settlement date and period:\r\n            \r\n    /balancing/physical?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\r\n            \r\nFiltering from settlement date and period to start time:\r\n            \r\n    /balancing/physical?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\r\n            \r\nFiltering from settlement date and period to settlement date and period:\r\n            \r\n    /balancing/physical?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1",
        "parameters": [
          {
            "name": "bmUnit",
            "in": "query",
            "description": "The BM Unit to query.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2__HFLEX001"
            },
            "example": "2__HFLEX001"
          },
          {
            "name": "from",
            "in": "query",
            "description": "The \"from\" start time or settlement date for the filter.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-09-22T00:00Z"
            },
            "example": "2022-09-22T00:00Z"
          },
          {
            "name": "to",
            "in": "query",
            "description": "The \"to\" start time or settlement date for the filter.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-09-23T00:00Z"
            },
            "example": "2022-09-23T00:00Z"
          },
          {
            "name": "settlementPeriodFrom",
            "in": "query",
            "description": "The \"from\" settlement period for the filter. This should be an integer from 1-50 inclusive.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "settlementPeriodTo",
            "in": "query",
            "description": "The \"to\" settlement period for the filter. This should be an integer from 1-50 inclusive.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "description": "Datasets to filter. If empty, all datasets will be returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "PN",
                "MILS"
              ]
            },
            "example": [
              "PN",
              "MILS"
            ]
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/balancing/physical/all": {
      "get": {
        "tags": [
          "Balancing Mechanism Physical"
        ],
        "summary": "Market-wide physical data (PN, QPN, MILS, MELS)",
        "description": "This endpoint provides the physical data for multiple requested BMUs or all BMUs.\r\nIt returns the data valid for a single settlement period.\r\n            \r\nOnly one dataset can be queried at a time: PN, QPN, MILS, or MELS.\r\nThe results from each dataset are transformed to a common response model, with fields not present in all 4 datasets dropped.\r\n            \r\nThe settlement period to query must be specified as a date and settlement period. The date must be given in the format yyyy-MM-dd.",
        "parameters": [
          {
            "name": "dataset",
            "in": "query",
            "description": "Dataset to query.",
            "required": true,
            "schema": {
              "enum": [
                "PN",
                "QPN",
                "MILS",
                "MELS"
              ],
              "type": "string",
              "example": "\"PN\""
            },
            "example": "\"PN\""
          },
          {
            "name": "settlementDate",
            "in": "query",
            "description": "The settlement date for the filter.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-01-18"
            },
            "example": "2023-01-18"
          },
          {
            "name": "settlementPeriod",
            "in": "query",
            "description": "The settlement period for the filter. This should be an integer from 1-50 inclusive.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 3
            },
            "example": 3
          },
          {
            "name": "bmUnit",
            "in": "query",
            "description": "The BM Units to query. Elexon or NGC BMU IDs can be used. If omitted, results for all BM units will be returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "2__HFLEX001",
                "HUMR-1"
              ]
            },
            "example": [
              "2__HFLEX001",
              "HUMR-1"
            ]
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.Physical.PhysicalData"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/balancing/nonbm/disbsad/summary": {
      "get": {
        "tags": [
          "Balancing Services Adjustment - Disaggregated"
        ],
        "summary": "Disaggregated balancing services adjustment time series (DISBSAD)",
        "description": "This endpoint provides disaggregated balancing services adjustment data batched by settlement period. Each\r\nbatch in the time series contains a summary of all records for that settlement period, detailing the number of\r\nbuy and sell actions, price information and volume information.\r\n\r\nBy default, the from and to parameters filter the data by start time inclusively. If the settlementPeriodFrom or\r\nsettlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement\r\ndate, allowing for searching by a combination of start time and/or settlement date & settlement period.\r\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For\r\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\r\n            \r\nAll Dates and DateTimes should be expressed as defined within\r\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\r\n            \r\nSome examples of date parameter combinations are shown below.\r\n            \r\nFiltering from start time to start time:\r\n            \r\n    /balancing/nonbm/disbsad/summary?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\r\n            \r\nFiltering from start time to settlement date and period:\r\n            \r\n    /balancing/nonbm/disbsad/summary?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\r\n            \r\nFiltering from settlement date and period to start time:\r\n            \r\n    /balancing/nonbm/disbsad/summary?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\r\n            \r\nFiltering from settlement date and period to settlement date and period:\r\n            \r\n    /balancing/nonbm/disbsad/summary?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The \"from\" start time or settlement date for the filter.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-09-20T00:00Z"
            },
            "example": "2022-09-20T00:00Z"
          },
          {
            "name": "to",
            "in": "query",
            "description": "The \"to\" start time or settlement date for the filter.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-09-27T00:00Z"
            },
            "example": "2022-09-27T00:00Z"
          },
          {
            "name": "settlementPeriodFrom",
            "in": "query",
            "description": "The \"from\" settlement period for the filter. This should be an integer from 1-50 inclusive.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "settlementPeriodTo",
            "in": "query",
            "description": "The \"to\" settlement period for the filter. This should be an integer from 1-50 inclusive.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/balancing/nonbm/disbsad/details": {
      "get": {
        "tags": [
          "Balancing Services Adjustment - Disaggregated"
        ],
        "summary": "Disaggregated balancing services adjustment per settlement period (DISBSAD)",
        "description": "This endpoint provides disaggregated balancing services adjustment data for a single settlement period. The\r\nresponse includes all the buying and selling actions that occurred during that settlement period.\r\n            \r\nDate parameter must be provided in the exact format yyyy-MM-dd.",
        "parameters": [
          {
            "name": "settlementDate",
            "in": "query",
            "description": "The settlement date to query.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-10-26"
            },
            "example": "2022-10-26"
          },
          {
            "name": "settlementPeriod",
            "in": "query",
            "description": "The settlement period to query. This should be an integer from 1-50 inclusive.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 3
            },
            "example": 3
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.DisaggregatedBalancingServicesAdjustmentDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/balancing/nonbm/netbsad": {
      "get": {
        "tags": [
          "Balancing Services Adjustment - Net"
        ],
        "summary": "Net balancing services adjustment time series (NETBSAD)",
        "description": "This endpoint provides data about the Net Balancing Services Adjustment (NETBSAD). Each\r\nentry in the time series contains the NETBSAD values for that settlement period.\r\n            \r\nBy default, the from and to parameters filter the data by time inclusively. If the settlementPeriodFrom or\r\nsettlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement\r\ndate, allowing for searching by a combination of time and/or settlement date & settlement period.\r\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For\r\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\r\n            \r\nAll Dates and DateTimes should be expressed as defined within\r\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\r\n            \r\nSome examples of date parameter combinations are shown below.\r\n            \r\nFiltering from start time to start time:\r\n            \r\n    /balancing/nonbm/netbsad?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\r\n            \r\nFiltering from start time to settlement date and period:\r\n            \r\n    /balancing/nonbm/netbsad?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\r\n            \r\nFiltering from settlement date and period to start time:\r\n            \r\n    /balancing/nonbm/netbsad?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\r\n            \r\nFiltering from settlement date and period to settlement date and period:\r\n            \r\n    /balancing/nonbm/netbsad?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The \"from\" start time or settlement date for the filter.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-06-01T00:00Z",
              "x-max-day-range-including-zeroes": 31,
              "x-max-day-range-excluding-zeroes": 3653
            },
            "example": "2022-06-01T00:00Z"
          },
          {
            "name": "to",
            "in": "query",
            "description": "The \"to\" start time or settlement date for the filter.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-07-01T00:00Z"
            },
            "example": "2022-07-01T00:00Z"
          },
          {
            "name": "settlementPeriodFrom",
            "in": "query",
            "description": "The \"from\" settlement period for the filter. This should be an integer from 1-50 inclusive.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "settlementPeriodTo",
            "in": "query",
            "description": "The \"to\" settlement period for the filter. This should be an integer from 1-50 inclusive.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeZero",
            "in": "query",
            "description": "Include data points with a generation of zero.",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "example": false
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/balancing/nonbm/netbsad/events": {
      "get": {
        "tags": [
          "Balancing Services Adjustment - Net"
        ],
        "summary": "Net balancing services adjustment events (NETBSAD)",
        "description": "This endpoint provides data about the start of NGESO Net Balancing Services Adjustment (NETBSAD) events.\r\nAn event is a point in time where one of the NETBSAD values has changed from 0 to a value.\r\nEach event details the start time of the event and the NETBSAD values associated with the start of the event.\r\n            \r\nBy default, the before parameter filters the data by start time. If the settlementPeriodBefore parameter is\r\nprovided, the before parameter instead filters on settlement date, allowing for searching by start time or\r\nsettlement date & settlement period.\r\nNote: When filtering via settlement date, before is treated as a Date only, with the time being ignored. For\r\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\r\n            \r\nAll Dates and DateTimes should be expressed as defined within\r\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\r\n            \r\nSome examples of date parameter combinations are shown below.\r\n            \r\nFiltering latest 3 events:\r\n            \r\n    /balancing/nonbm/netbsad/events?count=3\r\n            \r\nFiltering latest 3 events before start time:\r\n            \r\n    /balancing/nonbm/netbsad/events?before=2022-08-01T00:00Z&count=3\r\n            \r\nFiltering latest 3 events before settlement date and settlement period:\r\n            \r\n    /balancing/nonbm/netbsad/events?before=2022-08-01T00:00Z&settlementPeriodBefore=48&count=3",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "The number of events to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 3,
              "x-max-event-count": 100
            },
            "example": 3
          },
          {
            "name": "before",
            "in": "query",
            "description": "If specified, filters events to those with a start time before or at the date, or a settlement date before the date if\r\nsettlementPeriodBefore is also specified.\r\nIf omitted, latest events are returned.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "settlementPeriodBefore",
            "in": "query",
            "description": "Filters events to those with a settlement period before or at the value.\r\nBefore parameter must be specified if this is specified.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.NetBalancingServicesAdjustmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/balancing/bid-offer": {
      "get": {
        "tags": [
          "Bid-Offer"
        ],
        "summary": "Bid-offer data per BMU (BOD)",
        "description": "This endpoint provides the bid-offer data for a requested BMU. It returns the data valid over a given time\r\nrange, excluding any results where LevelFrom and LevelTo are both zero.\r\n            \r\nBy default, the from and to parameters filter the data inclusively and this endpoint will return any data that\r\noverlaps even at a single instant. If the settlementPeriodFrom or settlementPeriodTo parameters are provided, it\r\nwill instead filter to return any data that overlaps with the specified range of settlement periods. It is\r\npossible to search using a combination of time and/or settlement date & settlement period. Note: When\r\nfiltering via settlement date, from/to are treated as Dates only, with the time being ignored. For example,\r\n2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\r\n            \r\nAll Dates and DateTimes should be expressed as defined within\r\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\r\n            \r\nSome examples of date parameter combinations are shown below.\r\n            \r\nFiltering by timeFrom and timeTo:\r\n            \r\n    /balancing/bid-offer?bmUnit=T_DRAXX-1&from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\r\n            \r\nFiltering from timeFrom to settlement date and period:\r\n            \r\n    /balancing/bid-offer?bmUnit=T_DRAXX-1&from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\r\n            \r\nFiltering from settlement date and period to TimeTo:\r\n            \r\n    /balancing/bid-offer?bmUnit=T_DRAXX-1&from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\r\n            \r\nFiltering from settlement date and period to settlement date and period:\r\n            \r\n    /balancing/bid-offer?bmUnit=T_DRAXX-1&from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1",
        "parameters": [
          {
            "name": "bmUnit",
            "in": "query",
            "description": "The BM Unit to query.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2__HFLEX001"
            },
            "example": "2__HFLEX001"
          },
          {
            "name": "from",
            "in": "query",
            "description": "The \"from\" start time or settlement date for the filter.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-09-22T00:00Z"
            },
            "example": "2022-09-22T00:00Z"
          },
          {
            "name": "to",
            "in": "query",
            "description": "The \"to\" start time or settlement date for the filter.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-09-23T00:00Z"
            },
            "example": "2022-09-23T00:00Z"
          },
          {
            "name": "settlementPeriodFrom",
            "in": "query",
            "description": "The \"from\" settlement period for the filter. This should be an integer from 1-50 inclusive.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "settlementPeriodTo",
            "in": "query",
            "description": "The \"to\" settlement period for the filter. This should be an integer from 1-50 inclusive.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/balancing/bid-offer/all": {
      "get": {
        "tags": [
          "Bid-Offer"
        ],
        "summary": "Market-wide bid-offer data (BOD)",
        "description": "This endpoint provides market-wide bid-offer data, for all BMUs or a requested set of multiple BMUs.\r\nIt returns the data valid for a given settlement period, excluding any results where LevelFrom and LevelTo are both zero.\r\n            \r\nThe settlement period to query must be specified as a date and settlement period. The date should be provided in the format yyyy-MM-dd.",
        "parameters": [
          {
            "name": "settlementDate",
            "in": "query",
            "description": "The settlement date to filter.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-09-22"
            },
            "example": "2022-09-22"
          },
          {
            "name": "settlementPeriod",
            "in": "query",
            "description": "The settlement period to filter. This should be an integer from 1-50 inclusive.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            },
            "example": 1
          },
          {
            "name": "bmUnit",
            "in": "query",
            "description": "The BM Units to query. Elexon or NGC BMU IDs can be used. If omitted, results for all BM units will be returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "2__HFLEX001",
                "HUMR-1"
              ]
            },
            "example": [
              "2__HFLEX001",
              "HUMR-1"
            ]
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/balancing/acceptances": {
      "get": {
        "tags": [
          "Bid-Offer Acceptances"
        ],
        "summary": "Bid-offer acceptances per BMU (BOALF)",
        "description": "This endpoint provides the bid-offer acceptance data (BOALF) for a requested BMU.\r\n            \r\nBy default, the from and to parameters filter the data by start time inclusively. If the settlementPeriodFrom or\r\nsettlementPeriodTo parameters are provided, the corresponding from or to parameter instead filters on settlement\r\ndate, allowing for searching by a combination of start time and/or settlement date & settlement period.\r\nNote: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored. For\r\nexample, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.\r\n            \r\nAll Dates and DateTimes should be expressed as defined within\r\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\r\n            \r\nSome examples of date parameter combinations are shown below.\r\n            \r\nFiltering from start time to start time:\r\n            \r\n    /balancing/acceptances?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z\r\n            \r\nFiltering from start time to settlement date and period:\r\n            \r\n    /balancing/acceptances?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1\r\n            \r\nFiltering from settlement date and period to start time:\r\n            \r\n    /balancing/acceptances?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1\r\n            \r\nFiltering from settlement date and period to settlement date and period:\r\n            \r\n    /balancing/acceptances?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1",
        "parameters": [
          {
            "name": "bmUnit",
            "in": "query",
            "description": "The BM Unit to query.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "T_MILWW-1"
            },
            "example": "T_MILWW-1"
          },
          {
            "name": "from",
            "in": "query",
            "description": "The \"from\" start time or settlement date for the filter.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-10-03T00:00Z"
            },
            "example": "2022-10-03T00:00Z"
          },
          {
            "name": "to",
            "in": "query",
            "description": "The \"to\" start time or settlement date for the filter.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-10-06T00:00Z"
            },
            "example": "2022-10-06T00:00Z"
          },
          {
            "name": "settlementPeriodFrom",
            "in": "query",
            "description": "The \"from\" settlement period for the filter. This should be an integer from 1-50 inclusive.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "settlementPeriodTo",
            "in": "query",
            "description": "The \"to\" settlement period for the filter. This should be an integer from 1-50 inclusive.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/balancing/acceptances/all": {
      "get": {
        "tags": [
          "Bid-Offer Acceptances"
        ],
        "summary": "Market-wide bid-offer acceptances (BOALF)",
        "description": "This endpoint provides the bid-offer acceptance data (BOALF) for multiple requested BMUs or all BMUs.\r\nIt returns the data valid for a single settlement period.\r\n            \r\nThe settlement period must be specified as a date and settlement period. The date parameter must be provided in the exact format yyyy-MM-dd.",
        "parameters": [
          {
            "name": "settlementDate",
            "in": "query",
            "description": "The settlement date for the filter.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-01-24"
            },
            "example": "2023-01-24"
          },
          {
            "name": "settlementPeriod",
            "in": "query",
            "description": "The settlement period for the filter. This should be an integer from 1-50 inclusive.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 39
            },
            "example": 39
          },
          {
            "name": "bmUnit",
            "in": "query",
            "description": "The BM Units to query. Elexon or NGC BMU IDs can be used. If omitted, results for all BM units will be returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "T_DINO-2",
                "HUMR-1"
              ]
            },
            "example": [
              "T_DINO-2",
              "HUMR-1"
            ]
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/balancing/acceptances/all/latest": {
      "get": {
        "tags": [
          "Bid-Offer Acceptances"
        ],
        "summary": "Latest market-wide bid-offer acceptances (BOALF)",
        "description": "This endpoint provides the latest market-wide bid-offer acceptance data (BOALF). The latest 100 acceptances will be returned.",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.ResponseWithMetadata-1_Insights.Api.Models.Responses.Balancing.BidOfferAcceptancesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/CDN": {
      "get": {
        "tags": [
          "Credit Default Notice"
        ],
        "summary": "[DEPRECATED] Credit default notices (CDN)",
        "description": "This endpoint has been moved to balancing/settlement/default-notices.",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true
      }
    },
    "/datasets/NONBM": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Non-BM STOR (NONBM)",
        "description": "This endpoint provides data about the Short Term Operating Reserves (STOR) that have been made use of\r\nby NGESO. This is activity that is outside of the Balancing Mechanism and takes place to meet the need to\r\nincrease generation or decrease demand.\r\n            \r\nTo retrieve data from a particular time window, use the optional start and end time parameters.\r\nThese times should be expressed as defined within\r\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\r\nIf no time window is chosen, the default output will be the latest published data.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The start of the data publish time window.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-06-25T13:15Z"
            },
            "example": "2022-06-25T13:15Z"
          },
          {
            "name": "to",
            "in": "query",
            "description": "The end of the data publish time window.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-06-27T19:45Z"
            },
            "example": "2022-06-27T19:45Z"
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/datasets/NONBM/stream": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Non-BM STOR (NONBM) stream",
        "description": "This endpoint provides data about the Short Term Operating Reserves (STOR) that have been made use of\r\nby NGESO. This is activity that is outside of the Balancing Mechanism and takes place to meet the need to\r\nincrease generation or decrease demand.\r\n            \r\nTo retrieve data from a particular time window, use the optional start and end time parameters.\r\nThese times should be expressed as defined within\r\n<a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.\r\nIf no time window is chosen, the default output will be the latest published data.\r\n            \r\nThis endpoint has an optimised JSON payload and is aimed at frequent requests for the Non-BM STOR data.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The start of the data publish time window.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-06-25T13:15Z"
            },
            "example": "2022-06-25T13:15Z"
          },
          {
            "name": "to",
            "in": "query",
            "description": "The end of the data publish time window.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-06-27T19:45Z"
            },
            "example": "2022-06-27T19:45Z"
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.Generation.DatasetRows.NonBmStorData"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/datasets/PN": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Physical Notifications (PN)",
        "description": "This endpoint provides Physical Notification data received from NGESO. It returns the data valid for a single settlement period.\r\nA Physical Notification is the best estimate of the level of generation or demand that a participant in the BM expects a BM Unit to export or import, respectively, in a Settlement Period.\r\n            \r\nPhysical Notifications are submitted as a series of point MW values.\r\n            \r\nThe settlement period to query must be specified as a date and settlement period. The date should be provided in the format yyyy-MM-dd.",
        "parameters": [
          {
            "name": "settlementDate",
            "in": "query",
            "description": "The settlement date to query. This must be in the format yyyy-MM-dd.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-07-01"
            },
            "example": "2022-07-01"
          },
          {
            "name": "settlementPeriod",
            "in": "query",
            "description": "The settlement period to query. This should be an integer from 1-50 inclusive.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 5
            },
            "example": 5
          },
          {
            "name": "bmUnit",
            "in": "query",
            "description": "The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "T_ABRBO-1"
              ]
            },
            "example": [
              "T_ABRBO-1"
            ]
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/datasets/PN/stream": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Physical Notifications (PN) stream",
        "description": "This endpoint provides Physical Notification data received from NGESO.\r\nA Physical Notification is the best estimate of the level of generation or demand that a participant in the BM expects a BM Unit to export or import, respectively, in a Settlement Period.\r\n            \r\nPhysical Notifications are submitted as a series of point MW values.\r\n            \r\nThe settlement period to query can be specified as a date and settlement period, or as a datetime\r\nwhich will resolve to the settlement period that time falls within.\r\nIf a settlement period is provided, it will take precedence over the time portion of the datetime.\r\n\r\nSome examples of date parameter combinations are shown below.\r\n            \r\nFiltering from settlement datetime to settlement datetime:\r\n            \r\n     /datasets/PN/stream?from=2022-07-01T00:00Z&to=2022-07-03T06:00Z\r\n            \r\nFiltering from settlement datetime to settlement date and period:\r\n            \r\n     /datasets/PN/stream?from=2022-07-01T00:00Z&to=2022-07-03&settlementPeriodTo=15\r\n            \r\nFiltering from settlement date and period to settlement datetime:\r\n            \r\n     /datasets/PN/stream?from=2022-07-01&settlementPeriodFrom=3&to=2022-07-03T06:00Z\r\n            \r\nFiltering from settlement date and period to settlement date and period:\r\n            \r\n    /datasets/PN/stream?from=2022-07-01&settlementPeriodFrom=3&to=2022-07-03&settlementPeriodTo=15\r\n\r\nThis endpoint has an optimised JSON payload and is aimed at frequent requests for PN data.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The settlement date to query from.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-07-01"
            },
            "example": "2022-07-01"
          },
          {
            "name": "to",
            "in": "query",
            "description": "The settlement date to query up to.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-07-03"
            },
            "example": "2022-07-03"
          },
          {
            "name": "settlementPeriodFrom",
            "in": "query",
            "description": "The \"from\" settlement period for the filter. This should be an integer from 1-50 inclusive.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 3
            },
            "example": 3
          },
          {
            "name": "settlementPeriodTo",
            "in": "query",
            "description": "The \"to\" settlement period for the filter. This should be an integer from 1-50 inclusive.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 15
            },
            "example": 15
          },
          {
            "name": "bmUnit",
            "in": "query",
            "description": "The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "T_ABRBO-1"
              ]
            },
            "example": [
              "T_ABRBO-1"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/datasets/QPN": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Quiescent Physical Notifications (QPN)",
        "description": "This endpoint provides Quiescent Physical Notification data received from NGESO. It returns the data valid for a single settlement period.\r\nQuiescent Physical Notifications describe the MW levels to be deducted from the Physical Notification of a BM Unit to determine a resultant operating level.\r\n            \r\nThe settlement period to query must be specified as a date and settlement period. The date should be provided in the format yyyy-MM-dd.",
        "parameters": [
          {
            "name": "settlementDate",
            "in": "query",
            "description": "The settlement date to query. This must be in the format yyyy-MM-dd.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-07-01"
            },
            "example": "2022-07-01"
          },
          {
            "name": "settlementPeriod",
            "in": "query",
            "description": "The settlement period to query. This should be an integer from 1-50 inclusive.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 5
            },
            "example": 5
          },
          {
            "name": "bmUnit",
            "in": "query",
            "description": "The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "T_ABRBO-1"
              ]
            },
            "example": [
              "T_ABRBO-1"
            ]
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response data format. Use json/xml to include metadata.",
            "schema": {
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Insights.Api.Models.Responses.DatasetResponse-1_Insights.Api.Models.Responses.Balancing.Physical.DatasetRows.PhysicalNotificationData"
                }
              }
            }
          },
          "400": {
            "description": "Error with query parameters - see response for details"
          },
          "500": {
            "description": "Server error - please try again later"
          }
        }
      }
    },
    "/datasets/QPN/stream": {
      "get": {
[...]
