# coding: utf-8

"""
    Insights API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""



import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from elexonpy.api_client import ApiClient


class DatasetsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_datasets_abuc_publishdatetimefrom_publishdatetimefrom_publishdatetimeto(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Amount Of Balancing Reserves Under Contract (ABUC / B1720)  # noqa: E501

        This endpoint provides amount of balancing reserves under contract data.    This API endpoint has a maximum range of 2 years (731 days).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_abuc_publishdatetimefrom_publishdatetimefrom_publishdatetimeto(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :param str format: Response data format. Use json/xml to include metadata.
        :return: InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsAbucDatasetRow
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_datasets_abuc_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
        else:
            (data) = self.get_datasets_abuc_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
            return data

    def get_datasets_abuc_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_with_http_info(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Amount Of Balancing Reserves Under Contract (ABUC / B1720)  # noqa: E501

        This endpoint provides amount of balancing reserves under contract data.    This API endpoint has a maximum range of 2 years (731 days).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_abuc_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_with_http_info(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :param str format: Response data format. Use json/xml to include metadata.
        :return: InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsAbucDatasetRow
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['publish_date_time_from', 'publish_date_time_to', 'format']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_datasets_abuc_publishdatetimefrom_publishdatetimefrom_publishdatetimeto" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'publish_date_time_from' is set
        if ('publish_date_time_from' not in params or
                params['publish_date_time_from'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_from` when calling `get_datasets_abuc_publishdatetimefrom_publishdatetimefrom_publishdatetimeto`")  # noqa: E501
        # verify the required parameter 'publish_date_time_to' is set
        if ('publish_date_time_to' not in params or
                params['publish_date_time_to'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_to` when calling `get_datasets_abuc_publishdatetimefrom_publishdatetimefrom_publishdatetimeto`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'publish_date_time_from' in params:
            query_params.append(('publishDateTimeFrom', params['publish_date_time_from']))  # noqa: E501
        if 'publish_date_time_to' in params:
            query_params.append(('publishDateTimeTo', params['publish_date_time_to']))  # noqa: E501
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/datasets/ABUC', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsAbucDatasetRow',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_datasets_abuc_stream_publishdatetimefrom_publishdatetimefrom_publishdate(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Amount Of Balancing Reserves Under Contract (ABUC / B1720) stream  # noqa: E501

        This endpoint provides amount of balancing reserves under contract data.    This endpoint has an optimised JSON payload and is aimed at frequent requests for the data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_abuc_stream_publishdatetimefrom_publishdatetimefrom_publishdate(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :return: list[InsightsApiModelsResponsesTransparencyDatasetRowsAbucDatasetRow]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_datasets_abuc_stream_publishdatetimefrom_publishdatetimefrom_publishdate_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
        else:
            (data) = self.get_datasets_abuc_stream_publishdatetimefrom_publishdatetimefrom_publishdate_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
            return data

    def get_datasets_abuc_stream_publishdatetimefrom_publishdatetimefrom_publishdate_with_http_info(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Amount Of Balancing Reserves Under Contract (ABUC / B1720) stream  # noqa: E501

        This endpoint provides amount of balancing reserves under contract data.    This endpoint has an optimised JSON payload and is aimed at frequent requests for the data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_abuc_stream_publishdatetimefrom_publishdatetimefrom_publishdate_with_http_info(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :return: list[InsightsApiModelsResponsesTransparencyDatasetRowsAbucDatasetRow]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['publish_date_time_from', 'publish_date_time_to']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_datasets_abuc_stream_publishdatetimefrom_publishdatetimefrom_publishdate" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'publish_date_time_from' is set
        if ('publish_date_time_from' not in params or
                params['publish_date_time_from'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_from` when calling `get_datasets_abuc_stream_publishdatetimefrom_publishdatetimefrom_publishdate`")  # noqa: E501
        # verify the required parameter 'publish_date_time_to' is set
        if ('publish_date_time_to' not in params or
                params['publish_date_time_to'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_to` when calling `get_datasets_abuc_stream_publishdatetimefrom_publishdatetimefrom_publishdate`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'publish_date_time_from' in params:
            query_params.append(('publishDateTimeFrom', params['publish_date_time_from']))  # noqa: E501
        if 'publish_date_time_to' in params:
            query_params.append(('publishDateTimeTo', params['publish_date_time_to']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/datasets/ABUC/stream', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InsightsApiModelsResponsesTransparencyDatasetRowsAbucDatasetRow]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_datasets_agpt_publishdatetimefrom_publishdatetimefrom_publishdatetimeto(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Actual Aggregated Generation Per Type (AGPT / B1620)  # noqa: E501

        This endpoint provides actual generation data per settlement period aggregated by Power System Resource type (Fuel Type categories as defined by Commission Regulation (EU) No 543/2013).                This endpoint filters by publishTime and provides a maximum data output range of 4 days.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_agpt_publishdatetimefrom_publishdatetimefrom_publishdatetimeto(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :param str format: Response data format. Use json/xml to include metadata.
        :return: InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsActualAggregatedGenerationPerTypeDatasetRow
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_datasets_agpt_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
        else:
            (data) = self.get_datasets_agpt_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
            return data

    def get_datasets_agpt_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_with_http_info(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Actual Aggregated Generation Per Type (AGPT / B1620)  # noqa: E501

        This endpoint provides actual generation data per settlement period aggregated by Power System Resource type (Fuel Type categories as defined by Commission Regulation (EU) No 543/2013).                This endpoint filters by publishTime and provides a maximum data output range of 4 days.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_agpt_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_with_http_info(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :param str format: Response data format. Use json/xml to include metadata.
        :return: InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsActualAggregatedGenerationPerTypeDatasetRow
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['publish_date_time_from', 'publish_date_time_to', 'format']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_datasets_agpt_publishdatetimefrom_publishdatetimefrom_publishdatetimeto" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'publish_date_time_from' is set
        if ('publish_date_time_from' not in params or
                params['publish_date_time_from'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_from` when calling `get_datasets_agpt_publishdatetimefrom_publishdatetimefrom_publishdatetimeto`")  # noqa: E501
        # verify the required parameter 'publish_date_time_to' is set
        if ('publish_date_time_to' not in params or
                params['publish_date_time_to'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_to` when calling `get_datasets_agpt_publishdatetimefrom_publishdatetimefrom_publishdatetimeto`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'publish_date_time_from' in params:
            query_params.append(('publishDateTimeFrom', params['publish_date_time_from']))  # noqa: E501
        if 'publish_date_time_to' in params:
            query_params.append(('publishDateTimeTo', params['publish_date_time_to']))  # noqa: E501
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/datasets/AGPT', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsActualAggregatedGenerationPerTypeDatasetRow',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_datasets_agpt_stream_publishdatetimefrom_publishdatetimefrom_publishdate(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Actual Aggregated Generation Per Type (AGPT / B1620) stream  # noqa: E501

        This endpoint provides actual generation data per settlement period aggregated by Power System Resource type (Fuel Type categories as defined by Commission Regulation (EU) No 543/2013).                This endpoint filters by publishTime and has an optimised JSON payload aimed at frequent requests for the data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_agpt_stream_publishdatetimefrom_publishdatetimefrom_publishdate(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :return: list[InsightsApiModelsResponsesTransparencyDatasetRowsActualAggregatedGenerationPerTypeDatasetRow]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_datasets_agpt_stream_publishdatetimefrom_publishdatetimefrom_publishdate_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
        else:
            (data) = self.get_datasets_agpt_stream_publishdatetimefrom_publishdatetimefrom_publishdate_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
            return data

    def get_datasets_agpt_stream_publishdatetimefrom_publishdatetimefrom_publishdate_with_http_info(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Actual Aggregated Generation Per Type (AGPT / B1620) stream  # noqa: E501

        This endpoint provides actual generation data per settlement period aggregated by Power System Resource type (Fuel Type categories as defined by Commission Regulation (EU) No 543/2013).                This endpoint filters by publishTime and has an optimised JSON payload aimed at frequent requests for the data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_agpt_stream_publishdatetimefrom_publishdatetimefrom_publishdate_with_http_info(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :return: list[InsightsApiModelsResponsesTransparencyDatasetRowsActualAggregatedGenerationPerTypeDatasetRow]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['publish_date_time_from', 'publish_date_time_to']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_datasets_agpt_stream_publishdatetimefrom_publishdatetimefrom_publishdate" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'publish_date_time_from' is set
        if ('publish_date_time_from' not in params or
                params['publish_date_time_from'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_from` when calling `get_datasets_agpt_stream_publishdatetimefrom_publishdatetimefrom_publishdate`")  # noqa: E501
        # verify the required parameter 'publish_date_time_to' is set
        if ('publish_date_time_to' not in params or
                params['publish_date_time_to'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_to` when calling `get_datasets_agpt_stream_publishdatetimefrom_publishdatetimefrom_publishdate`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'publish_date_time_from' in params:
            query_params.append(('publishDateTimeFrom', params['publish_date_time_from']))  # noqa: E501
        if 'publish_date_time_to' in params:
            query_params.append(('publishDateTimeTo', params['publish_date_time_to']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/datasets/AGPT/stream', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InsightsApiModelsResponsesTransparencyDatasetRowsActualAggregatedGenerationPerTypeDatasetRow]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_datasets_agws_publishdatetimefrom_publishdatetimefrom_publishdatetimeto(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Actual Or Estimated Wind And Solar Power Generation (AGWS / B1630)  # noqa: E501

        This endpoint provides actual or estimated wind and solar power generation  per settlement period. It returns generation with Power System Resource type  Solar, Wind Onshore or Wind Offshore (Fuel Type categories as defined by  Commission Regulation (EU) No 543/2013).                This API endpoint provides a maximum data output range of 7 days.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_agws_publishdatetimefrom_publishdatetimefrom_publishdatetimeto(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :param str format: Response data format. Use json/xml to include metadata.
        :return: InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsActualGenerationWindSolarDatasetRow
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_datasets_agws_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
        else:
            (data) = self.get_datasets_agws_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
            return data

    def get_datasets_agws_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_with_http_info(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Actual Or Estimated Wind And Solar Power Generation (AGWS / B1630)  # noqa: E501

        This endpoint provides actual or estimated wind and solar power generation  per settlement period. It returns generation with Power System Resource type  Solar, Wind Onshore or Wind Offshore (Fuel Type categories as defined by  Commission Regulation (EU) No 543/2013).                This API endpoint provides a maximum data output range of 7 days.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_agws_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_with_http_info(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :param str format: Response data format. Use json/xml to include metadata.
        :return: InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsActualGenerationWindSolarDatasetRow
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['publish_date_time_from', 'publish_date_time_to', 'format']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_datasets_agws_publishdatetimefrom_publishdatetimefrom_publishdatetimeto" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'publish_date_time_from' is set
        if ('publish_date_time_from' not in params or
                params['publish_date_time_from'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_from` when calling `get_datasets_agws_publishdatetimefrom_publishdatetimefrom_publishdatetimeto`")  # noqa: E501
        # verify the required parameter 'publish_date_time_to' is set
        if ('publish_date_time_to' not in params or
                params['publish_date_time_to'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_to` when calling `get_datasets_agws_publishdatetimefrom_publishdatetimefrom_publishdatetimeto`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'publish_date_time_from' in params:
            query_params.append(('publishDateTimeFrom', params['publish_date_time_from']))  # noqa: E501
        if 'publish_date_time_to' in params:
            query_params.append(('publishDateTimeTo', params['publish_date_time_to']))  # noqa: E501
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/datasets/AGWS', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsActualGenerationWindSolarDatasetRow',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_datasets_agws_stream_publishdatetimefrom_publishdatetimefrom_publishdate(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Actual Or Estimated Wind And Solar Power Generation (AGWS / B1630) stream  # noqa: E501

        This endpoint provides actual or estimated wind and solar power generation  per settlement period. It returns generation with Power System Resource type  Solar, Wind Onshore or Wind Offshore (Fuel Type categories as defined by  Commission Regulation (EU) No 543/2013).                This endpoint has an optimised JSON payload and is aimed at frequent requests for the data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_agws_stream_publishdatetimefrom_publishdatetimefrom_publishdate(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :return: list[InsightsApiModelsResponsesTransparencyDatasetRowsActualGenerationWindSolarDatasetRow]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_datasets_agws_stream_publishdatetimefrom_publishdatetimefrom_publishdate_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
        else:
            (data) = self.get_datasets_agws_stream_publishdatetimefrom_publishdatetimefrom_publishdate_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
            return data

    def get_datasets_agws_stream_publishdatetimefrom_publishdatetimefrom_publishdate_with_http_info(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Actual Or Estimated Wind And Solar Power Generation (AGWS / B1630) stream  # noqa: E501

        This endpoint provides actual or estimated wind and solar power generation  per settlement period. It returns generation with Power System Resource type  Solar, Wind Onshore or Wind Offshore (Fuel Type categories as defined by  Commission Regulation (EU) No 543/2013).                This endpoint has an optimised JSON payload and is aimed at frequent requests for the data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_agws_stream_publishdatetimefrom_publishdatetimefrom_publishdate_with_http_info(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :return: list[InsightsApiModelsResponsesTransparencyDatasetRowsActualGenerationWindSolarDatasetRow]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['publish_date_time_from', 'publish_date_time_to']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_datasets_agws_stream_publishdatetimefrom_publishdatetimefrom_publishdate" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'publish_date_time_from' is set
        if ('publish_date_time_from' not in params or
                params['publish_date_time_from'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_from` when calling `get_datasets_agws_stream_publishdatetimefrom_publishdatetimefrom_publishdate`")  # noqa: E501
        # verify the required parameter 'publish_date_time_to' is set
        if ('publish_date_time_to' not in params or
                params['publish_date_time_to'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_to` when calling `get_datasets_agws_stream_publishdatetimefrom_publishdatetimefrom_publishdate`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'publish_date_time_from' in params:
            query_params.append(('publishDateTimeFrom', params['publish_date_time_from']))  # noqa: E501
        if 'publish_date_time_to' in params:
            query_params.append(('publishDateTimeTo', params['publish_date_time_to']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/datasets/AGWS/stream', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InsightsApiModelsResponsesTransparencyDatasetRowsActualGenerationWindSolarDatasetRow]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_datasets_aobe_publishdatetimefrom_publishdatetimefrom_publishdatetimeto(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Accepted Offered Balancing Energy (AOBE)  # noqa: E501

        This endpoint provides accepted offered balancing energy data.    This API endpoint has a maximum range of 7 days.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_aobe_publishdatetimefrom_publishdatetimefrom_publishdatetimeto(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :param str format: Response data format. Use json/xml to include metadata.
        :return: InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsAobeDatasetRow
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_datasets_aobe_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
        else:
            (data) = self.get_datasets_aobe_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
            return data

    def get_datasets_aobe_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_with_http_info(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Accepted Offered Balancing Energy (AOBE)  # noqa: E501

        This endpoint provides accepted offered balancing energy data.    This API endpoint has a maximum range of 7 days.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_aobe_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_with_http_info(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :param str format: Response data format. Use json/xml to include metadata.
        :return: InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsAobeDatasetRow
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['publish_date_time_from', 'publish_date_time_to', 'format']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_datasets_aobe_publishdatetimefrom_publishdatetimefrom_publishdatetimeto" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'publish_date_time_from' is set
        if ('publish_date_time_from' not in params or
                params['publish_date_time_from'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_from` when calling `get_datasets_aobe_publishdatetimefrom_publishdatetimefrom_publishdatetimeto`")  # noqa: E501
        # verify the required parameter 'publish_date_time_to' is set
        if ('publish_date_time_to' not in params or
                params['publish_date_time_to'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_to` when calling `get_datasets_aobe_publishdatetimefrom_publishdatetimefrom_publishdatetimeto`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'publish_date_time_from' in params:
            query_params.append(('publishDateTimeFrom', params['publish_date_time_from']))  # noqa: E501
        if 'publish_date_time_to' in params:
            query_params.append(('publishDateTimeTo', params['publish_date_time_to']))  # noqa: E501
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/datasets/AOBE', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsAobeDatasetRow',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_datasets_aobe_stream_publishdatetimefrom_publishdatetimefrom_publishdate(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Accepted Offered Balancing Energy (AOBE) stream  # noqa: E501

        This endpoint provides accepted offered balancing energy data.    This endpoint has an optimised JSON payload and is aimed at frequent requests for the data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_aobe_stream_publishdatetimefrom_publishdatetimefrom_publishdate(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :return: list[InsightsApiModelsResponsesTransparencyDatasetRowsAobeDatasetRow]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_datasets_aobe_stream_publishdatetimefrom_publishdatetimefrom_publishdate_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
        else:
            (data) = self.get_datasets_aobe_stream_publishdatetimefrom_publishdatetimefrom_publishdate_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
            return data

    def get_datasets_aobe_stream_publishdatetimefrom_publishdatetimefrom_publishdate_with_http_info(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Accepted Offered Balancing Energy (AOBE) stream  # noqa: E501

        This endpoint provides accepted offered balancing energy data.    This endpoint has an optimised JSON payload and is aimed at frequent requests for the data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_aobe_stream_publishdatetimefrom_publishdatetimefrom_publishdate_with_http_info(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :return: list[InsightsApiModelsResponsesTransparencyDatasetRowsAobeDatasetRow]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['publish_date_time_from', 'publish_date_time_to']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_datasets_aobe_stream_publishdatetimefrom_publishdatetimefrom_publishdate" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'publish_date_time_from' is set
        if ('publish_date_time_from' not in params or
                params['publish_date_time_from'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_from` when calling `get_datasets_aobe_stream_publishdatetimefrom_publishdatetimefrom_publishdate`")  # noqa: E501
        # verify the required parameter 'publish_date_time_to' is set
        if ('publish_date_time_to' not in params or
                params['publish_date_time_to'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_to` when calling `get_datasets_aobe_stream_publishdatetimefrom_publishdatetimefrom_publishdate`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'publish_date_time_from' in params:
            query_params.append(('publishDateTimeFrom', params['publish_date_time_from']))  # noqa: E501
        if 'publish_date_time_to' in params:
            query_params.append(('publishDateTimeTo', params['publish_date_time_to']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/datasets/AOBE/stream', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InsightsApiModelsResponsesTransparencyDatasetRowsAobeDatasetRow]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_datasets_atl_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Actual Total Load Per Bidding Zone (ATL / B0610)  # noqa: E501

        This endpoint provides actual total load per bidding zone data.    This API endpoint provides a maximum data output range of 7 days.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_atl_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :param str format: Response data format. Use json/xml to include metadata.
        :return: InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsActualTotalLoadPerBiddingZoneDatasetRow
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_datasets_atl_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
        else:
            (data) = self.get_datasets_atl_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
            return data

    def get_datasets_atl_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p_with_http_info(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Actual Total Load Per Bidding Zone (ATL / B0610)  # noqa: E501

        This endpoint provides actual total load per bidding zone data.    This API endpoint provides a maximum data output range of 7 days.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_atl_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p_with_http_info(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :param str format: Response data format. Use json/xml to include metadata.
        :return: InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsActualTotalLoadPerBiddingZoneDatasetRow
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['publish_date_time_from', 'publish_date_time_to', 'format']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_datasets_atl_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'publish_date_time_from' is set
        if ('publish_date_time_from' not in params or
                params['publish_date_time_from'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_from` when calling `get_datasets_atl_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p`")  # noqa: E501
        # verify the required parameter 'publish_date_time_to' is set
        if ('publish_date_time_to' not in params or
                params['publish_date_time_to'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_to` when calling `get_datasets_atl_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'publish_date_time_from' in params:
            query_params.append(('publishDateTimeFrom', params['publish_date_time_from']))  # noqa: E501
        if 'publish_date_time_to' in params:
            query_params.append(('publishDateTimeTo', params['publish_date_time_to']))  # noqa: E501
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/datasets/ATL', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsActualTotalLoadPerBiddingZoneDatasetRow',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_datasets_atl_stream_publishdatetimefrom_publishdatetimefrom_publishdatet(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Actual Total Load Per Bidding Zone (ATL / B0610) stream  # noqa: E501

        This endpoint provides actual total load per bidding zone data.                This endpoint has an optimised JSON payload and is aimed at frequent requests for the data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_atl_stream_publishdatetimefrom_publishdatetimefrom_publishdatet(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :return: list[InsightsApiModelsResponsesTransparencyDatasetRowsActualTotalLoadPerBiddingZoneDatasetRow]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_datasets_atl_stream_publishdatetimefrom_publishdatetimefrom_publishdatet_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
        else:
            (data) = self.get_datasets_atl_stream_publishdatetimefrom_publishdatetimefrom_publishdatet_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
            return data

    def get_datasets_atl_stream_publishdatetimefrom_publishdatetimefrom_publishdatet_with_http_info(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Actual Total Load Per Bidding Zone (ATL / B0610) stream  # noqa: E501

        This endpoint provides actual total load per bidding zone data.                This endpoint has an optimised JSON payload and is aimed at frequent requests for the data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_atl_stream_publishdatetimefrom_publishdatetimefrom_publishdatet_with_http_info(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :return: list[InsightsApiModelsResponsesTransparencyDatasetRowsActualTotalLoadPerBiddingZoneDatasetRow]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['publish_date_time_from', 'publish_date_time_to']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_datasets_atl_stream_publishdatetimefrom_publishdatetimefrom_publishdatet" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'publish_date_time_from' is set
        if ('publish_date_time_from' not in params or
                params['publish_date_time_from'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_from` when calling `get_datasets_atl_stream_publishdatetimefrom_publishdatetimefrom_publishdatet`")  # noqa: E501
        # verify the required parameter 'publish_date_time_to' is set
        if ('publish_date_time_to' not in params or
                params['publish_date_time_to'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_to` when calling `get_datasets_atl_stream_publishdatetimefrom_publishdatetimefrom_publishdatet`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'publish_date_time_from' in params:
            query_params.append(('publishDateTimeFrom', params['publish_date_time_from']))  # noqa: E501
        if 'publish_date_time_to' in params:
            query_params.append(('publishDateTimeTo', params['publish_date_time_to']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/datasets/ATL/stream', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InsightsApiModelsResponsesTransparencyDatasetRowsActualTotalLoadPerBiddingZoneDatasetRow]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_datasets_b1610_settlementdate_settlementdate_settlementperiod_settlement(self, settlement_date, settlement_period, **kwargs):  # noqa: E501
        """Actual Generation Output Per Generation Unit (B1610)  # noqa: E501

        This endpoint provides the actual metered volume output (MWh) per Settlement Period for all BM units (Positive, Negative or zero MWh values).                The settlement period to query must be specified as a date and settlement period. The date must be given in the format yyyy-MM-dd.                The information is published five days after the end of the operational period based on the Interim Information (II) Settlement Run and the data is refreshed by subsequent Settlement Runs.                The generation output returned by this endpoint is the metered volume and not the instantaneous power output as often appears in other specifications.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_b1610_settlementdate_settlementdate_settlementperiod_settlement(settlement_date, settlement_period, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param date settlement_date: Format - date (as full-date in RFC3339). (required)
        :param int settlement_period: Format - int32. (required)
        :param list[str] bm_unit:
        :param str format: Response data format. Use json/xml to include metadata.
        :return: InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsActualGenerationOutputPerGenerationUnitDatasetResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_datasets_b1610_settlementdate_settlementdate_settlementperiod_settlement_with_http_info(settlement_date, settlement_period, **kwargs)  # noqa: E501
        else:
            (data) = self.get_datasets_b1610_settlementdate_settlementdate_settlementperiod_settlement_with_http_info(settlement_date, settlement_period, **kwargs)  # noqa: E501
            return data

    def get_datasets_b1610_settlementdate_settlementdate_settlementperiod_settlement_with_http_info(self, settlement_date, settlement_period, **kwargs):  # noqa: E501
        """Actual Generation Output Per Generation Unit (B1610)  # noqa: E501

        This endpoint provides the actual metered volume output (MWh) per Settlement Period for all BM units (Positive, Negative or zero MWh values).                The settlement period to query must be specified as a date and settlement period. The date must be given in the format yyyy-MM-dd.                The information is published five days after the end of the operational period based on the Interim Information (II) Settlement Run and the data is refreshed by subsequent Settlement Runs.                The generation output returned by this endpoint is the metered volume and not the instantaneous power output as often appears in other specifications.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_b1610_settlementdate_settlementdate_settlementperiod_settlement_with_http_info(settlement_date, settlement_period, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param date settlement_date: Format - date (as full-date in RFC3339). (required)
        :param int settlement_period: Format - int32. (required)
        :param list[str] bm_unit:
        :param str format: Response data format. Use json/xml to include metadata.
        :return: InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsActualGenerationOutputPerGenerationUnitDatasetResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['settlement_date', 'settlement_period', 'bm_unit', 'format']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_datasets_b1610_settlementdate_settlementdate_settlementperiod_settlement" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'settlement_date' is set
        if ('settlement_date' not in params or
                params['settlement_date'] is None):
            raise ValueError("Missing the required parameter `settlement_date` when calling `get_datasets_b1610_settlementdate_settlementdate_settlementperiod_settlement`")  # noqa: E501
        # verify the required parameter 'settlement_period' is set
        if ('settlement_period' not in params or
                params['settlement_period'] is None):
            raise ValueError("Missing the required parameter `settlement_period` when calling `get_datasets_b1610_settlementdate_settlementdate_settlementperiod_settlement`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'settlement_date' in params:
            query_params.append(('settlementDate', params['settlement_date']))  # noqa: E501
        if 'settlement_period' in params:
            query_params.append(('settlementPeriod', params['settlement_period']))  # noqa: E501
        if 'bm_unit' in params:
            query_params.append(('bmUnit', params['bm_unit']))  # noqa: E501
            collection_formats['bmUnit'] = 'multi'  # noqa: E501
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/datasets/B1610', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsActualGenerationOutputPerGenerationUnitDatasetResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_datasets_b1610_stream_from_from_to_to(self, _from, to, **kwargs):  # noqa: E501
        """Actual Generation Output Per Generation Unit (B1610) stream  # noqa: E501

        This endpoint provides the actual metered volume output (MWh) per Settlement Period for all BM units (Positive, Negative or zero MWh values).                The information is published five days after the end of the operational period based on the Interim Information (II) Settlement Run and the data is refreshed by subsequent Settlement Runs.                The generation output returned by this endpoint is the metered volume and not the instantaneous power output as often appears in other specifications.    This endpoint has an optimised JSON payload and is aimed at frequent requests for the data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_b1610_stream_from_from_to_to(_from, to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime _from: Format - date-time (as date-time in RFC3339). The \"from\" start time or settlement date for the filter. (required)
        :param datetime to: Format - date-time (as date-time in RFC3339). The \"to\" start time or settlement date for the filter. (required)
        :param int settlement_period_from: Format - int32. The \"from\" settlement period for the filter. This should be an integer from 1-50 inclusive.
        :param int settlement_period_to: Format - int32. The \"to\" settlement period for the filter. This should be an integer from 1-50 inclusive.
        :param list[str] bm_unit:
        :return: list[InsightsApiModelsResponsesTransparencyDatasetRowsActualGenerationOutputPerGenerationUnitDatasetResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_datasets_b1610_stream_from_from_to_to_with_http_info(_from, to, **kwargs)  # noqa: E501
        else:
            (data) = self.get_datasets_b1610_stream_from_from_to_to_with_http_info(_from, to, **kwargs)  # noqa: E501
            return data

    def get_datasets_b1610_stream_from_from_to_to_with_http_info(self, _from, to, **kwargs):  # noqa: E501
        """Actual Generation Output Per Generation Unit (B1610) stream  # noqa: E501

        This endpoint provides the actual metered volume output (MWh) per Settlement Period for all BM units (Positive, Negative or zero MWh values).                The information is published five days after the end of the operational period based on the Interim Information (II) Settlement Run and the data is refreshed by subsequent Settlement Runs.                The generation output returned by this endpoint is the metered volume and not the instantaneous power output as often appears in other specifications.    This endpoint has an optimised JSON payload and is aimed at frequent requests for the data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_b1610_stream_from_from_to_to_with_http_info(_from, to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime _from: Format - date-time (as date-time in RFC3339). The \"from\" start time or settlement date for the filter. (required)
        :param datetime to: Format - date-time (as date-time in RFC3339). The \"to\" start time or settlement date for the filter. (required)
        :param int settlement_period_from: Format - int32. The \"from\" settlement period for the filter. This should be an integer from 1-50 inclusive.
        :param int settlement_period_to: Format - int32. The \"to\" settlement period for the filter. This should be an integer from 1-50 inclusive.
        :param list[str] bm_unit:
        :return: list[InsightsApiModelsResponsesTransparencyDatasetRowsActualGenerationOutputPerGenerationUnitDatasetResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['_from', 'to', 'settlement_period_from', 'settlement_period_to', 'bm_unit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_datasets_b1610_stream_from_from_to_to" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter '_from' is set
        if ('_from' not in params or
                params['_from'] is None):
            raise ValueError("Missing the required parameter `_from` when calling `get_datasets_b1610_stream_from_from_to_to`")  # noqa: E501
        # verify the required parameter 'to' is set
        if ('to' not in params or
                params['to'] is None):
            raise ValueError("Missing the required parameter `to` when calling `get_datasets_b1610_stream_from_from_to_to`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if '_from' in params:
            query_params.append(('from', params['_from']))  # noqa: E501
        if 'to' in params:
            query_params.append(('to', params['to']))  # noqa: E501
        if 'settlement_period_from' in params:
            query_params.append(('settlementPeriodFrom', params['settlement_period_from']))  # noqa: E501
        if 'settlement_period_to' in params:
            query_params.append(('settlementPeriodTo', params['settlement_period_to']))  # noqa: E501
        if 'bm_unit' in params:
            query_params.append(('bmUnit', params['bm_unit']))  # noqa: E501
            collection_formats['bmUnit'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/datasets/B1610/stream', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InsightsApiModelsResponsesTransparencyDatasetRowsActualGenerationOutputPerGenerationUnitDatasetResponse]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_datasets_beb_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Balancing Energy Bids (BEB)  # noqa: E501

        This endpoint provides information on all balancing energy bids, in accordance with the Electricity Balancing Guidelines (EBGL) article 12.3.b.    This API endpoint has a maximum range of 7 days.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_beb_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :param str format: Response data format. Use json/xml to include metadata.
        :return: InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsBebDatasetRow
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_datasets_beb_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
        else:
            (data) = self.get_datasets_beb_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
            return data

    def get_datasets_beb_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p_with_http_info(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Balancing Energy Bids (BEB)  # noqa: E501

        This endpoint provides information on all balancing energy bids, in accordance with the Electricity Balancing Guidelines (EBGL) article 12.3.b.    This API endpoint has a maximum range of 7 days.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_beb_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p_with_http_info(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :param str format: Response data format. Use json/xml to include metadata.
        :return: InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsBebDatasetRow
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['publish_date_time_from', 'publish_date_time_to', 'format']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_datasets_beb_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'publish_date_time_from' is set
        if ('publish_date_time_from' not in params or
                params['publish_date_time_from'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_from` when calling `get_datasets_beb_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p`")  # noqa: E501
        # verify the required parameter 'publish_date_time_to' is set
        if ('publish_date_time_to' not in params or
                params['publish_date_time_to'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_to` when calling `get_datasets_beb_publishdatetimefrom_publishdatetimefrom_publishdatetimeto_p`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'publish_date_time_from' in params:
            query_params.append(('publishDateTimeFrom', params['publish_date_time_from']))  # noqa: E501
        if 'publish_date_time_to' in params:
            query_params.append(('publishDateTimeTo', params['publish_date_time_to']))  # noqa: E501
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/datasets/BEB', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesTransparencyDatasetRowsBebDatasetRow',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_datasets_beb_stream_publishdatetimefrom_publishdatetimefrom_publishdatet(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Balancing Energy Bids (BEB) stream  # noqa: E501

        This endpoint provides information on all balancing energy bids, in accordance with the Electricity Balancing Guidelines (EBGL) article 12.3.b.    This endpoint has an optimised JSON payload and is aimed at frequent requests for the data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_beb_stream_publishdatetimefrom_publishdatetimefrom_publishdatet(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :return: list[InsightsApiModelsResponsesTransparencyDatasetRowsBebDatasetRow]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_datasets_beb_stream_publishdatetimefrom_publishdatetimefrom_publishdatet_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
        else:
            (data) = self.get_datasets_beb_stream_publishdatetimefrom_publishdatetimefrom_publishdatet_with_http_info(publish_date_time_from, publish_date_time_to, **kwargs)  # noqa: E501
            return data

    def get_datasets_beb_stream_publishdatetimefrom_publishdatetimefrom_publishdatet_with_http_info(self, publish_date_time_from, publish_date_time_to, **kwargs):  # noqa: E501
        """Balancing Energy Bids (BEB) stream  # noqa: E501

        This endpoint provides information on all balancing energy bids, in accordance with the Electricity Balancing Guidelines (EBGL) article 12.3.b.    This endpoint has an optimised JSON payload and is aimed at frequent requests for the data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_beb_stream_publishdatetimefrom_publishdatetimefrom_publishdatet_with_http_info(publish_date_time_from, publish_date_time_to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime publish_date_time_from: Format - date-time (as date-time in RFC3339). (required)
        :param datetime publish_date_time_to: Format - date-time (as date-time in RFC3339). (required)
        :return: list[InsightsApiModelsResponsesTransparencyDatasetRowsBebDatasetRow]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['publish_date_time_from', 'publish_date_time_to']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_datasets_beb_stream_publishdatetimefrom_publishdatetimefrom_publishdatet" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'publish_date_time_from' is set
        if ('publish_date_time_from' not in params or
                params['publish_date_time_from'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_from` when calling `get_datasets_beb_stream_publishdatetimefrom_publishdatetimefrom_publishdatet`")  # noqa: E501
        # verify the required parameter 'publish_date_time_to' is set
        if ('publish_date_time_to' not in params or
                params['publish_date_time_to'] is None):
            raise ValueError("Missing the required parameter `publish_date_time_to` when calling `get_datasets_beb_stream_publishdatetimefrom_publishdatetimefrom_publishdatet`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'publish_date_time_from' in params:
            query_params.append(('publishDateTimeFrom', params['publish_date_time_from']))  # noqa: E501
        if 'publish_date_time_to' in params:
            query_params.append(('publishDateTimeTo', params['publish_date_time_to']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/datasets/BEB/stream', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InsightsApiModelsResponsesTransparencyDatasetRowsBebDatasetRow]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_datasets_boalf_from_from_to_to(self, _from, to, **kwargs):  # noqa: E501
        """Bid Offer Acceptance Level Flagged (BOALF)  # noqa: E501

        This endpoint provides bid offer acceptance data.                By default, the from and to parameters filter the data inclusively and this endpoint will return any data where  TimeFrom is within the requested time range. If the settlementPeriodFrom or settlementPeriodTo parameters are  provided, it will instead filter to return any data where TimeFrom is within the specified range of settlement  periods. It is possible to search using a combination of time and/or settlement date & settlement period.  Note: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored.  For example, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.                All Dates and DateTimes should be expressed as defined within  <a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.                Some examples of date parameter combinations are shown below.                Filtering from datetime to datetime                    /datasets/boalf?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z                Filtering from datetime to settlement date and period:                    /datasets/boalf?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1                Filtering from settlement date and period to datetime:                    /datasets/boalf?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1                Filtering from settlement date and period to settlement date and period:                    /datasets/boalf?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_boalf_from_from_to_to(_from, to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime _from: Format - date-time (as date-time in RFC3339). The \"from\" start time or settlement date for the filter. (required)
        :param datetime to: Format - date-time (as date-time in RFC3339). The \"to\" start time or settlement date for the filter. (required)
        :param int settlement_period_from: Format - int32. The \"from\" settlement period for the filter. This should be an integer from 1-50 inclusive.
        :param int settlement_period_to: Format - int32. The \"to\" settlement period for the filter. This should be an integer from 1-50 inclusive.
        :param list[str] bm_unit: The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.
        :param str format: Response data format. Use json/xml to include metadata.
        :return: InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesBalancingDatasetRowsBidOfferAcceptanceLevelDatasetResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_datasets_boalf_from_from_to_to_with_http_info(_from, to, **kwargs)  # noqa: E501
        else:
            (data) = self.get_datasets_boalf_from_from_to_to_with_http_info(_from, to, **kwargs)  # noqa: E501
            return data

    def get_datasets_boalf_from_from_to_to_with_http_info(self, _from, to, **kwargs):  # noqa: E501
        """Bid Offer Acceptance Level Flagged (BOALF)  # noqa: E501

        This endpoint provides bid offer acceptance data.                By default, the from and to parameters filter the data inclusively and this endpoint will return any data where  TimeFrom is within the requested time range. If the settlementPeriodFrom or settlementPeriodTo parameters are  provided, it will instead filter to return any data where TimeFrom is within the specified range of settlement  periods. It is possible to search using a combination of time and/or settlement date & settlement period.  Note: When filtering via settlement date, from/to are treated as Dates only, with the time being ignored.  For example, 2022-06-01T00:00Z and 2022-06-01T11:11Z are both treated as the settlement date 2022-06-01.                All Dates and DateTimes should be expressed as defined within  <a href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\" target=\"_blank\">RFC 3339</a>.                Some examples of date parameter combinations are shown below.                Filtering from datetime to datetime                    /datasets/boalf?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z                Filtering from datetime to settlement date and period:                    /datasets/boalf?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodTo=1                Filtering from settlement date and period to datetime:                    /datasets/boalf?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1                Filtering from settlement date and period to settlement date and period:                    /datasets/boalf?from=2022-06-01T00:00Z&to=2022-07-01T00:00Z&settlementPeriodFrom=1&settlementPeriodTo=1  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_datasets_boalf_from_from_to_to_with_http_info(_from, to, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime _from: Format - date-time (as date-time in RFC3339). The \"from\" start time or settlement date for the filter. (required)
        :param datetime to: Format - date-time (as date-time in RFC3339). The \"to\" start time or settlement date for the filter. (required)
        :param int settlement_period_from: Format - int32. The \"from\" settlement period for the filter. This should be an integer from 1-50 inclusive.
        :param int settlement_period_to: Format - int32. The \"to\" settlement period for the filter. This should be an integer from 1-50 inclusive.
        :param list[str] bm_unit: The BM units to query. Add each unit separately. If no BM unit is selected all BM units will be displayed.
        :param str format: Response data format. Use json/xml to include metadata.
        :return: InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesBalancingDatasetRowsBidOfferAcceptanceLevelDatasetResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['_from', 'to', 'settlement_period_from', 'settlement_period_to', 'bm_unit', 'format']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_datasets_boalf_from_from_to_to" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter '_from' is set
        if ('_from' not in params or
                params['_from'] is None):
            raise ValueError("Missing the required parameter `_from` when calling `get_datasets_boalf_from_from_to_to`")  # noqa: E501
        # verify the required parameter 'to' is set
        if ('to' not in params or
                params['to'] is None):
            raise ValueError("Missing the required parameter `to` when calling `get_datasets_boalf_from_from_to_to`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if '_from' in params:
            query_params.append(('from', params['_from']))  # noqa: E501
        if 'to' in params:
            query_params.append(('to', params['to']))  # noqa: E501
        if 'settlement_period_from' in params:
            query_params.append(('settlementPeriodFrom', params['settlement_period_from']))  # noqa: E501
        if 'settlement_period_to' in params:
            query_params.append(('settlementPeriodTo', params['settlement_period_to']))  # noqa: E501
        if 'bm_unit' in params:
            query_params.append(('bmUnit', params['bm_unit']))  # noqa: E501
            collection_formats['bmUnit'] = 'multi'  # noqa: E501
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/datasets/BOALF', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InsightsApiModelsResponsesDatasetResponse1InsightsApiModelsResponsesBalancingDatasetRowsBidOfferAcceptanceLevelDatasetResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_datasets_boalf_stream_from_from_to_to(self, _from, to, **kwargs):  # noqa: E501
        """Bid Offer Acceptance Level Flagged (BOALF) stream  # noqa: E501

[...]
